@section Scripts
{
    <script src="@Url.Content("~/Scripts/board-game-vms.js")"></script>
    <script src="@Url.Content("~/Scripts/app-vm.js")"></script>
}

<div class="searchbar">
    <form>
        <input class="form-control" data-bind="value: searchName" />
        <button class="btn btn-primary" data-bind="click: lookUpGameList">Search for games on board game geek</button>
    </form>
</div>

<!-- ko if: loadingGames -->
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<!-- /ko -->
<!-- ko if: !loadingGames() -->
<table class="table table-striped">
    <tr>
        <th></th>
        <th>
            <a data-bind="click: function() { sort('customName'); }">Name 
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'customName' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'customName' && sortAscending()"></span>
            </a>
            
        </th>
        <th>
            <a data-bind="click: function() { sort('played'); }">Played?
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'played' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'played' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('owned'); }">Owned?
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'owned' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'owned' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('customRating'); }">My Rating
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'customRating' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'customRating' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('minPlayers'); }">Min Players
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'minPlayers' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'minPlayers' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('maxPlayers'); }">Max Players
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'maxPlayers' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'maxPlayers' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('rank'); }">BGG Rank
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'rank' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'rank' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('rating'); }">BGG Rating
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'rating' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'rating' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('minPlayingTime'); }">Min Play Time
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'minPlayingTime' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'minPlayingTime' && sortAscending()"></span>
            </a>
        </th>
        <th>
            <a data-bind="click: function() { sort('maxPlayingTime'); }">Max Play Time
                <span class="glyphicon glyphicon-chevron-up" data-bind="visible: sortBy() == 'maxPlayingTime' && !sortAscending()"></span>
                <span class="glyphicon glyphicon-chevron-down" data-bind="visible: sortBy() == 'maxPlayingTime' && sortAscending()"></span>
            </a>
        </th>
        <th>Actions</th>
    </tr>
    <!-- ko foreach: visibleGames -->
    <tr>
        <td><img src="" data-bind="attr: { src: imageLink }" /></td>
        <td data-bind="text: customName"></td>
        <td>
            <div class="checkbox"><label><input type="checkbox" data-bind="checked: played"></label></div>
        </td>
        <td>
            <div class="checkbox"><label><input type="checkbox" data-bind="checked: owned"></label></div>
        </td>
        <td data-bind="text: customRating"></td>
        <td data-bind="text: minPlayers"></td>
        <td data-bind="text: maxPlayers"></td>
        <td data-bind="text: rank"></td>
        <td data-bind="text: rating"></td>
        <td data-bind="text: minPlayingTime"></td>
        <td data-bind="text: maxPlayingTime"></td>
        <td>
            <div  class="action-container">
                <button type="button" class="btn btn-default" data-bind="click: viewGame">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: editGame">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: deleteGame">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            
        </td>
    </tr>
    <!-- /ko -->
</table>
<!-- /ko -->

@Html.Partial("EditModal")

@Html.Partial("DetailsModal")

@Html.Partial("DeleteModal")

@Html.Partial("SearchResultsModal")